<option value="none" selected="selected">無</option>
<option value="NCCU_2023_Winter">NCCU國金院總體經濟與投組分析(Winter, 2023)</option>>
<option value="NTU_2023_Fall">Fintech (NTU_CS, Fall, 2023)</option>>
<option value="NTHU_2023_Fall">Fintech (NTHU QF_CS_EE, Fall, 2023)</option>
<option value="Fin_2023_AI">金融科技能力建構_AI (September, 2023)</option>
<option value="NTHU_2023_Fall_AIMS">Fintech (NTHU_AIMS, Fall, 2023)</option>
<option value="fintech_ai_411">411 AI日</option>
<option value="com_fin_2023">計算金融 (Spring, 2023)</option>
<option value="MEPM_2022">總體經濟分析與投資組合管理(Dec. 2022)</option>
<option value="Fin_2022_MUST">Fintech(MUST)</option>
<option value="Fin_2022_Taitung">Fintech(台東大學)</option>
<option value="Fin_2022_AI">金融科技能力建構_AI</option>
<option value="Fin_NTHU_2022_Fall">Fintech(勞動部_NTHU, Oct. 2022-Jan. 2023)</option>
<option value="LA_2022_Fall">LA (Fall 2022)</option>
<option value="Fin_Engineer_2022_Fall">財工專題(Fall 2022)</option>
<option value="Asia_Fin_2022_Fall">亞洲區域金融及金融創新與交易 (Fall 2022)</option> 
<option value="NCCU_2022_Fall">總體經濟分析與投資組合管理</option>
<option value="NTU_2022_Fall">Fintech(NTU_CS,Fall,2022)</option>
<option value="NTHU_2022_Fall">Fintech(NTHU_EE,Fall,2022)</option>

<option value="Asia_fin_2022_Spring">亞洲區域金融及金融創新與交易(Spring, 2022)</option>
<option value="NKUST_2022_Spring">高雄科技大學(Spring, 2022)</option>

<option value="Fintech_2022_Spring_FCU">五校Fintech-逢甲(Spring, 2022)</option>
<option value="Fintech_2022_Spring_TKU">五校Fintech-淡江(Spring, 2022)</option>
<option value="Fintech_2022_Spring_FJU">五校Fintech-輔大(Spring, 2022)</option>
<option value="Fintech_2022_Spring_NCCU">五校Fintech-政大(Spring, 2022)</option>
<option value="Fintech_2022_Spring_NTHU">五校Fintech-清大(Spring, 2022)</option>
<option value="BlockChain_2022_Spring">Blockchain (NTHU_QF, Spring 2022)</option>
<option value="University_Students_Fin_2022_Spring">大專生金融專班 (Spring 2022)</option>
<option value="Asia_Fin_2021_Fall">亞洲區域金融及金融創新與交易 (Fall 2021)</option>    
<option value="Labor_2021_Fall">Fintech (勞動部_NTHU, Nov. 2021-Jan. 2022)</option>
<option value="Finance_engineer_2021_Fall">財工專題（Fall, 2021）</option>
<option value="Asset_2021_Fall">資產管理AI應用實務（Fall, 2021）</option>
<option value="NTU__2021_Fall">Fintech(NTU_CS, Fall, 2021)</option>
<option value="NTHU_2021_Fall">Fintech(NTHU_EE, Fall, 2021)</option>
<option value="NTHU-AIMS_2021_Fall">大數據技術實務應用(NTHU_AIMS, Fall 2021)</option>

<option value="MaFin_NTU_Spring_2021">MaFin(NTU, Spring, 2021)</option>

<option value="Service_NTHU_Spring_2023">服務學習(NTHU, Spring, 2021)</option>
<option value="Asia_fin_Spring_2021">亞洲區域金融及金融創新與交易(Spring, 2021)</option>

<option value="Fintech_AIMS_NTHU_2021_Spring">Fintech-AIMS NTHU, 2021 Spring</option>
<!--option value="Fintech_AIMS_NTHU__2021_Spring">Fintech-AIMS NTHU, 2021 Spring</option-->
<option value="NTHU-AIMS_2021_April">大數據技術實務應用 (NTHU-AIMS 2021 April)</option>

<option value="MUST_Investment_Practice">MUST 投資實務</option>
<option value="NTU__2021_Spring">Fintech (NTU, 2021 Spring)</option>
<option value="NTHU_2021_Spring">Fintech (NTHU 2021 Spring)</option>
<option value="NCCU_2021_Spring">Fintech (NCCU 2021 Spring)</option>
<option value="MOL_NTHU_2021_March-June">Fintech (勞動部_NTHU 2021 March-June)</option>

<option value="Fin_elite_class_CPMA">企經會理財菁英班</option>
<option value="FE2020fall_Dec">財工專題（109年度上學期）12月競賽</option>
<option value="FE2020fall_Jan">財工專題（109年度上學期）1月競賽</option>
<option value="MUST_Fin">MUST財金</option>
<option value="NTPU20201226">金融公益專班 臺北大學1226</option>
<option value="ErikTest">Erik 測試競賽</option>
